<div class="container" style="margin-left: 15%;">
    <div style="width:70%; background-color:cadetblue; ">

        <br>
        <h5 style="text-align: center;">Crear Gasto</h5>
        <form class="frm" id="tucuenta" action="" style="padding: 3%;">
            <h5 id="titulo" class="frm_titulo">Generar Un Nuevo Gasto</h5>
            <div style="margin-left:10%;">
                <label>Nombre:</label> <input type="text" style="margin-left: 6%; margin-bottom: 1%;">
                <br>
                <label>Descripcion:</label><br> <textarea style="margin-left: 20%; margin-bottom: 1%; width: 60%;" placeholder="Descripcion del gasto "></textarea>
                <br>
                <label>Cantidad:</label> <input type="number" style="margin-left: 7%; margin-bottom: 1%;" placeholder="Cantidad del gasto"><br>
                <br>
                <label>Fecha limite de pago:</label> <input type="date" style="margin-left: 4%; margin-bottom: 1%;">
            </div>

            <div style="text-align: center;"> <br>
                <button class="frm_submit" type="button">Crear</button>
            </div>

        </form>
        <br>
    </div>

</div>