.derecha {
    float: left;
}

.imglogo {
    float: left;
    width: 10%;
    height: 5%;
    margin-left: 0%;
    
}

.nombreuser {
    float: left;
    color: white;
    margin: 5px;
    margin-left: 2%;
    margin-top: 2%;
}