<div class="container" style="margin-left: 15%;">
    <div style="width:70%; background-color:rgb(255, 255, 255); ">

    <br>
    <h5 style="text-align: center;">Inicio de sesión</h5>    
    <form class="frm" id="login" action="" style="padding: 3%;">
        <div style="text-align: center;">
            <h5 id="titulo" class="frm_titulo">Ingresa Tus Datos</h5>        
            <label>Usuario:</label> <input type="text" style="margin-left: 7%; margin-bottom: 1%;"> 
            <br>
            <label>Password:</label> <input type="password" style="margin-left: 5%; margin-bottom: 1%;"><br>
            <br>
        </div>

        <div style="text-align: center;"> <br>
            <a href="../principal" style="text-decoration: none;">Entrar</a>
            <a href="../registrar" style="text-decoration: none;">Registrar</a>
            <a href="http://www.google.com" style="text-decoration: none;">Salir</a>         
        </div>

        
    </form>
        <br>
    </div>

</div>