<head>
  
    <link rel="stylesheet" media="all" href="https://assets.splitwise.com/assets/motel-74a0672481f8338539b67ab6072c1584f34cdf9e0b210f406c680b91c33e6818.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:400,600,700&amp;display=swap" rel="stylesheet">  
    <script src="https://assets.splitwise.com/packs/js/runtime-f8395826a8d509b810a0.js" defer="defer"></script>
    <script src="https://assets.splitwise.com/packs/js/63-a67506c2e3e2400ec6a3.js" defer="defer"></script>
    <script src="https://assets.splitwise.com/packs/js/motel-9c53a291e1d0aba88b6c.js" defer="defer"></script>
  </head>
  
  <body class="font-sans subpixel-antialiased login" id="">
    
    
    
      
    <main class="bg-facets">
      <div class="container mx-auto px-4 md:px-8 pt-8">
        <div class="lg:flex align-center justify-center items-center">
          <div class="lg:w-1/2 xl:w-1/2 modal_box px-4 md:px-16">
            <div class="text-3xl font-mont mb-4">
              Detalle de grupo
            </div>
    
            <form class="font-mont" novalidate="novalidate" action="/principal" accept-charset="UTF-8"> 
                <div >
                    <img src="assets/group.png" style="display: inline-block;">
                    <h1 style="overflow: hidden;
                    max-width: 315px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 24px !important;
                    line-height: 38px;
                    height: 38px;
                    display: inline-block;
                    vertical-align: middle;
                    color: #333;">Roomies</h1>

                    <div class="actions" style="display: inline-block; margin-left: 20%;">
                        <div class="btn-group">
                            <a class="btn btn-large " href="gastos/addgastos" 
                            style="padding: 9px 14px;
                            font-size: 15px;
                            line-height: normal;
                            position: relative;
                            float: right;
                            background: #ff652f;
                            color: #fff;
                            text-shadow: 0 -1px 0 #c83400;">
                                Añadir un gasto
                            </a>
                        
                             <a class="btn btn-large" href="gastos/liquidar"
                             style="padding: 9px 14px;
                            font-size: 15px;
                            line-height: normal;
                            position: relative;
                            float: right;
                            background: #5bc5a7;
                            color: #fff;
                            text-shadow: 0 -1px 0 #318970;">
                                Liquidar deudas
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    
                </div>
  
    
                
                
            </form>    
            
          </div>
        </div>
      </div>
    </main>
    
    </body>

