<div class="container" style="margin-left: 15%;">
    <div style="width:70%; background-color:rgb(255, 255, 255); ">

        <br>
        <h5 style="text-align: center;">Tu cuenta</h5>
        <form class="frm" id="tucuenta" action="" style="padding: 3%;">
            <h5 id="titulo" class="frm_titulo">Tus Datos</h5>
            <div style="margin-left:10%;">
                <label>Nombre:</label> <input type="text" readonly="readonly" style="margin-left: 6%; margin-bottom: 1%;">
                <br>
                <label>Correo:</label> <input type="email" readonly="readonly" style="margin-left: 8%; margin-bottom: 1%;" placeholder="Ejemplo: correo@gmail.com">
                <br>
                <label>Usuario:</label> <input type="text" readonly="readonly" style="margin-left: 7%; margin-bottom: 1%;">
                <br>
                <label>Password:</label> <input type="password" style="margin-left: 5%; margin-bottom: 1%;"><br>
                <br>
                <label>Fecha de Nacimiento:</label> <input type="date" style="margin-left: 4%; margin-bottom: 1%;">
            </div>

            <div style="text-align: center;"> <br>
                <button class="frm_submit" type="button">Guardar</button>
            </div>

        </form>
        <br>
        <br>
        <br>
    </div>

</div>