@import "~bootstrap/scss/bootstrap";
.derecha {
    float: left;
}

.imglogo {
    float: left;
    width: 10%;
    height: 5%;
    margin-left: 10%;
    margin-right: 3px;
    margin-top: -2%;
}

.nombreuser {
    color: white;
    margin: 5px;
}