.frm_titulo {
    text-align: center;
    margin-top: 0;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom: 30px;
    background: rgb(72, 190, 157);
}

.frm {
    position: absolute;
    width: 70%;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 30%);
    position: relative;
    background: #f7f7f7;
}

.frm_submit {    
    width: 20%;
    margin-bottom: 10px;
    padding: 10px;
    /* margin-left: 10%; */
    color: black;
    background-color: gray;
    cursor: pointer;
    border: none;
    border-color:black;
    border: 1px solid;
    border-radius: 5px;
}
a{
    width: 20%;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10%; 
    color: rgb(0, 0, 0);
    background-color: rgb(72, 190, 157);
    cursor: pointer;
    border: none;
    border-color:black;
    border: 1px solid;
    border-radius: 5px;
}