.derecha {
    float: left;
}

.imglogo {
    float: left;
    width: 10%;
    height: 5%;
    margin-left: 0%;
    
}

.nombreuser {
    float: left;
    color: white;
    margin: 5px;
    margin-left: 2%;
    margin-top: 2%;
}

li{
    width: 16%;
    color: rgb(211, 206, 206);
    background-color: rgb(72, 190, 157);
    cursor: pointer;
    border: none;
    border-color:black;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    
}