<div class="container">
    <div style="width:35%; float:left; background-color: cadetblue;">        
        <br>
        <p style="text-align: center;">Visualizador de Grupos:</p>

    <table class="table" border="1">                
            <tr>
                <th>Nombre Grupo:</th>
                <th>Descripcion:</th>
                <th>Debes$:</th>                
                <th>Fehca ultima para pagar:</th>
            </tr>
                
            <tr>
                <td>Renta roomies</td>
                <td>Gasto de pago de renta con los roomies</td>
                <td>350</td>
                <td>10-11-2021</td>
            </tr>                    
    </table>

    <br>
        <p style="text-align: center;">Visualizador de Gastos:</p>

    <table class="table" border="1">                
            <tr>
                <th>Nombre:</th>
                <th>Descripcion:</th>
                <th>Cantidad:</th>                
                <th>Grupo al que pertenece:</th>                
                <th>Fehca ult. de pago:</th>
            </tr>
                
            <tr>
                <td>Renta</td>
                <td>Gasto de pago de renta con los roomies</td>
                <td>350</td>
                <td>Renta roomies</td>
                <td>10-11-2021</td>
            </tr>                    
    </table>
    </div>

    <div style="width:60%; float:left; background-color:beige; margin-left: 1%;">
        
        <br>
        <h5 style="text-align: center;">Visualizador de Grafica de Gastos:</h5>
        
        <form style="padding: 2%px; margin: 5%; text-align: centers; background-color: darkcyan;">
            <br>
        <label>Fecha de inicio: </label><input type="date" required><br>
        <label>Fecha Final:     </label><input type="date" required> <br>
        <button type="submit">Generar</button>
        <br>
        </form>


    </div>
    
    <!--
    <div style="width:29%; float: right; background-color: chartreuse; margin-left: 1%;" >
        <p style="text-align: center;">Visualizador de </p>
    </div>
    -->
</div>


