<div class="container">
    <div style="width:35%; float:left; background-color: rgb(255, 255, 255);">
        <br>
        <p style="text-align: center;"><strong>Visualizador de Grupos:</strong> </p>
        <div style="background-color:#2ea3da;">

            <table class="table" border="1">
                <tr>
                    <th>Nombre Grupo:</th>
                    <th>Descripcion:</th>
                    <th>Debes$:</th>
                    <th>Fehca ultima para pagar:</th>
                </tr>

                <tr>
                    <td>Renta roomies</td>
                    <td>Gasto de pago de renta con los roomies</td>
                    <td>350</td>
                    <td>10-11-2021</td>
                </tr>
            </table>
        </div>
        <br>
        <div style="background-color: #ffffff;">
            <p style="text-align: center;">Visualizador de Gastos:</p>

            <table class="table" border="1">
                <tr>
                    <th>Nombre:</th>
                    <th>Descripcion:</th>
                    <th>Cantidad:</th>
                    <th>Grupo al que pertenece:</th>
                    <th>Fehca ult. de pago:</th>
                </tr>

                <tr>
                    <td>Renta</td>
                    <td>Gasto de pago de renta con los roomies</td>
                    <td>350</td>
                    <td>Renta roomies</td>
                    <td>10-11-2021</td>
                </tr>
            </table>
        </div>

    </div>

    <div style="width:60%; float:left; background-color:rgb(255, 255, 255); margin-left: 1%;">

        <br>
        <h5 style="text-align: center;">Visualizador de Grafica de Gastos:</h5>
        <form class="frm">
            <h5 id="titulo" class="frm_titulo">Margenes de Fechas</h5>
            <div style="margin-left:10%;">
                <label>Fecha de inicio: </label><input type="date" required style="margin-left: 6%; margin-bottom: 1%;"><br>
                <label>Fecha Final:     </label><input type="date" required style="margin-left: 13%; margin-bottom: 1%;"> <br>
            </div>
            <div style="text-align: center;"> <br>
                <button class="frm_submit" type="button">Generar</button>
            </div>
        </form>
        <br>
    </div>

    <!--
    <div style="width:29%; float: right; background-color: chartreuse; margin-left: 1%;" >
        <p style="text-align: center;">Visualizador de </p>
    </div>
    -->
</div>