<div class="container" style="margin-left: 15%;">
    <div style="width:70%; background-color:rgb(255, 255, 255); ">

        <br>
        <h5 style="text-align: center;">Crear Grupo</h5>
        <form class="frm" id="tucuenta" action="" style="padding: 3%;">
            <h5 id="titulo" class="frm_titulo">Generar Un Nuevo Grupo</h5>

            <div>
                <div style="margin-left:10%;">
                    <label>Nombre Grupo:</label> <input type="text" style="margin-left: 6%; margin-bottom: 1%;">
                    <br>
                    <label>Admin-Grupo:</label> <input type="text" style="margin-left: 6%; margin-bottom: 1%;">
                </div>
            </div>
            <br>
            <h5 id="titulo" class="frm_titulo">Especificar Gasto del Grupo</h5>
            <div>
                <div style="margin-left:10%;">
                    <label>Nombre Gasto:</label> <input type="text" style="margin-left: 6%; margin-bottom: 1%;">
                    <br>
                    <label>Descripcion:</label><br> <textarea style="margin-left: 20%; margin-bottom: 1%; width: 60%;" placeholder="Descripcion del gasto "></textarea>
                    <br>
                    <label>Cantidad:</label> <input type="number" style="margin-left: 7%; margin-bottom: 1%;" placeholder="Cantidad del gasto"><br>
                    <label>Fecha limite de pago:</label> <input type="date" style="margin-left: 4%; margin-bottom: 1%;"><br><br>
                    <label>Invitar:</label> <input type="text" style="margin-left: 6%; margin-bottom: 1%;">
                    <button class="frm_submit" style="margin-left: 5%;" type="button">Invitar</button>
                </div>
            </div>
            <div style="text-align: center;"> <br>
                <button class="frm_submit" type="button">Crear</button>
            </div>
        </form>
        <br>
        <br>
        <br>
    </div>

</div>